
<div class="container-fluid bg-color1">
    <div class="row">
        <div class="col-lg-6 px-0 h-100">
            <img src="./assets/images/kakslauttanenarcticresort.jpg" alt="Login" 
            class="left-img">
        </div>
        <div class="col-lg-6 px-0 h-100">
            <div class="d-flex justify-content-center pb-5 right-panel">
                <div>
                    <div class="mt-lg-5 mt-3">
                        <img src="./assets/images/logo.jpg" alt="logo" routerLink="/" height="100">
                        <h2 class="my-3">Create a new account!</h2>
                    </div>
                    <form [formGroup]="registerForm">
                        <mat-card>
                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label>First Name</mat-label>
                                    <input matInput type="text" formControlName="firstName">
                                </mat-form-field>
                                    <mat-error
                                    *ngIf="registerForm.controls.firstName.touched && registerForm.controls.firstName.hasError('required')">
                                    First Name is required
                                    </mat-error>
                            </div>

                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput type="text" formControlName="lastName">
                                </mat-form-field>
                                    <mat-error
                                    *ngIf="registerForm.controls.lastName.touched && registerForm.controls.lastName.hasError('required')">
                                    Last Name is required
                                    </mat-error>
                            </div>

                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput type="email" formControlName="email">
                                </mat-form-field>
                                    <mat-error
                                    *ngIf="registerForm.controls.email.touched && registerForm.controls.email.hasError('required')">
                                    Email is required
                                    </mat-error>
                                    <mat-error
                                    *ngIf="registerForm.controls.email.touched && registerForm.controls.email.hasError('pattern')">
                                    Please enter a valid email
                                    </mat-error>
                            </div>
                            
                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label>Password</mat-label>
                                    <input matInput type="password" formControlName="password">
                                </mat-form-field>
                                <mat-error
                                *ngIf="registerForm.controls.password.touched && registerForm.controls.password.hasError('required')">
                                Password is required
                                </mat-error>
                                <mat-error
                                *ngIf="registerForm.controls.password.touched && registerForm.controls.password.hasError('minlength')">
                                Password must be at least 8 characters
                                </mat-error>
                            </div>

                            <div>
                                <mat-form-field appearance="outline">
                                    <mat-label>Address</mat-label>
                                    <input matInput type="text" formControlName="address">
                                </mat-form-field>
                                    <mat-error
                                    *ngIf="registerForm.controls.address.touched && registerForm.controls.address.hasError('required')">
                                    Address is required
                                    </mat-error>
                            </div>
                            
                            <div>
                                <button mat-raised-button class="mr-2 mb-2" color="primary" (click)="register()">Register</button>
                                <button mat-raised-button class="mr-2 mb-2" color="accent" routerLink="/login">Login</button>
                            </div>
                        </mat-card>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>